@tailwind base;
@tailwind components;
@tailwind utilities;

.weatherBg {
  background-image: url(../../public/images/pexels_videos_2782\ \(1080p\).gif);
  background-size: cover;
}

.boxBg {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0, 0.51) 0%, rgba(2,32,60, 0.85) 90%, rgba(10,31,50, 0.85) 100%);
}